In [71]:
import pandas as pd
from pandas import json_normalize
import json
from glob import glob
import matplotlib.pyplot as plt

In [59]:
path = 'data/*.json'
json_files = glob(path)
json_files

['data/data.json', 'data/TRAAADZ128F9348C2E.json']

In [70]:
container = []
for json_file in json_files:
    with open(json_file, 'r') as fp:
        data = json.load(fp)

    df_ = json_normalize(data)
    container.append(df_)

df = pd.concat(container, ignore_index=True)
df

,num_songs,artist_id,artist_latitude,artist_longitude,artist_location,artist_name,song_id,title,duration,year
0,1,ARD7TVE1187B99BFB1,None,None,California - LA,Casual,SOMZWCG12A8C13C480,I Didn't Mean To,218.93179,0
1,1,ARKRRTF1187B9984DA,None,None,,Sonora Santanera,SOXVLOJ12AB0189215,Amor De Cabaret,177.47546,0